body {
	margin: 0;
}

header {
	width: 100%;
	height: 40px;
	background-color: #7fabbe;
}

nav {
	float: left;
	width: 300px;
}

nav > ul {
	margin: 0;
}

nav > ul > li {
	display: inline;
}

section#main-section {
	position: absolute;
	width: 100%;
	top: 40px;
	bottom: 0;
}

.bc-user-popup {
	position: absolute;
	right: 0;
	width: 200px;
	height: 100px;
	z-index: 100;
	background-color: #c3f0ff;
	padding: 10px;
}